body {
  background-color: rgba(29, 151, 145, 0.678);
  font-family: "Roboto", sans-serif;
  height: 80vh;
}


.logo {
  color: white;
  font-size: 90px;
  text-align: center;
  margin-left: 30px;
}
.top{
    padding-top: 20px;
    height: 200px;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.signup {
  margin-left: 20px;
  margin-top: 40px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-left: 2px solid white;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login {
  margin-left: 20px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
input[type="text"],
input[type="password"] {
  width: 200px;
  height: 20px;
  text-align: center;
  margin-bottom: 10px;
  border: 2px solid rgba(20, 75, 72, 0.678);
  outline: 2px solid transparent;

}
input:focus {
  outline: 2px solid rgba(20, 75, 72, 0.678);
  transition: 0.5s;
  animation: 0.5s ease-in-out;
}
button{
    width: 100px;
    height: 30px;
    background-color: rgba(20, 75, 72, 0.678);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(29, 151, 145, 0.678);
    transition: 0.5s;
    animation: 0.5s ease-in-out;
}

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin-top: 50px;
}
.redes-sociais{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.redes-sociais a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.redes-sociais button{
    width: 50px;
    height: 40px;
    border: none;
    background-color: rgba(20, 75, 72, 0.678);
    color: white;
    cursor: pointer;
}
.criar-conta1 p{
    color: white;
    font-size: 15px;
    margin-top: 30px;
}
.duvida{
    margin-top: 20px;
}
.duvida a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.duvida a:hover{
    color: rgba(20, 75, 72, 0.678);
    transition: 0.5s;
    animation: 0.5s ease-in-out;
}
.idioma select{
    width: 150px;
    height: 30px;
    background-color: rgba(20, 75, 72, 0.678);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    outline: 2px solid transparent;
}
.idioma select:hover{
    background-color: rgba(29, 151, 145, 0.678);
    transition: 0.5s;
    animation: 0.5s ease-in-out;
}
.idioma select:focus{
    outline: 2px solid rgba(20, 75, 72, 0.678);
    transition: 0.5s;
    animation: 0.5s ease-in-out;
}
.idioma{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}